<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content col-md-5">
        <div class="form-items">
          <h3>Iniciar Sesión</h3>
          <p>Completa los campos requeridos</p>
          <form
            action="/auth/login"
            method="POST"
          >

            <div class="col-md-12">
              <input
                class="form-control"
                type="email"
                name="email"
                placeholder="Dirección de E-mail"
                required
              />
              <div class="valid-feedback">Email field is valid!</div>
              <div class="invalid-feedback">Email field cannot be blank!</div>
            </div>

            <div class="col-md-12">
              <input
                class="form-control"
                type="password"
                name="password"
                placeholder="Contraseña"
                required
              />
              <div class="valid-feedback">Password field is valid!</div>
              <div class="invalid-feedback">Password field cannot be blank!</div>
            </div>

            {{!-- <div class="col-md-12">
              <select class="form-select mt-3" required>
                <option selected disabled value="">Posición</option>
                <option value="jweb">Junior Web Developer</option>
                <option value="sweb">Senior Web Developer</option>
                <option value="pmanager">Project Manager</option>
              </select>
              <div class="valid-feedback">You selected a position!</div>
              <div class="invalid-feedback">Please select a position!</div>
            </div> --}}

            <div class="form-button mt-3">
              <button
                id="submit"
                type="submit"
                class="btn btn-primary"
              >Iniciar Sesión</button>
            </div>
          </form>
          {{#if errorMsg}}
            <h3>{{errorMsg}}</h3>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>