<div class="form-body">
  <div class="row">
    <div class="form-holder">
      <div class="form-content col-md-5">
        <div class="form-items">
          <h3>Registrarse</h3>
          <p>Completa los campos requeridos</p>
          <form action="/auth/signup" method="POST">

            <div class="col-md-12">
              <input
                class="form-control"
                type="text"
                name="name"
                placeholder="Nombre"
                required
              />
            </div>
            <div class="col-md-12">
              <input
                class="form-control"
                type="text"
                name="lastName"
                placeholder="Apellido"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                class="form-control"
                type="password"
                name="password"
                placeholder="Contraseña"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                class="form-control"
                type="email"
                name="email"
                placeholder="Dirección de E-mail"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                class="form-control"
                type="text"
                name="phone"
                placeholder="Teléfono"
                required
              />
            </div>

            <div class="col-md-12">
              <input
                class="form-control"
                type="text"
                name="presentation"
                placeholder="Presentación"
                required
              />
            </div>
            <div class="form-button mt-3">
              <button
                id="submit"
                type="submit"
                class="btn btn-primary"
              >Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>