<div
  class="modal fade"
  id="createClientModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createClientModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/create-client/:id" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="createClientModalLabel">Nuevo Cliente</h5>
        </div>
        <div class="modal-body">

          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="name"
              placeholder="Nombre"
              required
            />
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="lastName"
              placeholder="Apellido"
              required
            />
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="lastName2"
              placeholder="Segundo Apellido (no obligatorio)"
            />
          </div>
          <div class="col-md-12">
            <input
              class="form-control"
              type="number"
              name="age"
              placeholder="Edad"
            />
          </div>

          <div class="col-md-12">
            <input
              class="form-control"
              type="email"
              name="email"
              placeholder="Dirección de E-mail"
              required
            />
          </div>

          <div class="col-md-12">
            <input
              class="form-control"
              type="text"
              name="phone"
              placeholder="Teléfono"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            id="submit"
            type="submit"
            class="btn btn-primary"
          >Añadir</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Cerrar</button>

        </div>
      </form>
    </div>
  </div>
</div>