<div
  class="modal fade"
  id="deactivateClientModal{{this._id}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deactivateClientModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog deactivate-dialog" role="document">
    <div class="modal-content">
      <form action="/deactivate-client/{{this._id}}" method="GET">
        <div class="modal-header">
          <h5 class="modal-title" id="deactivateClientModalLabel">¿Seguro qué quieres
            desactivar al usuario?</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <h3 class="col-12 text-center">{{this.name}} {{this.lastName}}</h3>
            <div class="col-12 text-center"> <i class="far fa-times-circle"></i></div>
          </div>

        </div>
        <div class="modal-footer">
          <button
            id="submit"
            type="submit"
            class="btn btn-info"
          >Desactivar</button>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Cerrar</button>

        </div>
      </form>
    </div>
  </div>
</div>