<!-- Masthead-->
<header class="masthead">
  <div class="container">
    <div class="masthead-subheading">Bienvenido a Agenda</div>
    <div class="masthead-heading text-uppercase"> Una App de gestión</div>
  </div>
</header>

<!-- Services-->
<section class="page-section" id="services">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Servicios</h2>
      <h3 class="section-subheading text-muted">Algunas de las ventajas de usar
        la aplicación.</h3>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="far fa-address-book fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Agenda</h4>
        <p class="text-muted">Toda la información de tu agenda en la nube, para
          verla desde cualquier lugar.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="far fa-calendar-alt fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Calendario</h4>
        <p class="text-muted">Gestión de citas y comunicación desde la misma
          aplicación.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-mobile-alt fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Diseño Adaptativo</h4>
        <p class="text-muted">Acceso tanto desde tu teléfono como desde tu
          ordenador gracias a su diseño adaptativo.</p>
      </div>
    </div>
  </div>
</section>

<!-- Contact-->
<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Contacta con el desarrollador
        de la App</h2>
      <h3 class="section-subheading text-white">Estamos encantados de escuchar tus sugerencias.</h3>
    </div>
    <form id="contactForm" action="/contact-mail/" method="POST">
      <div class="row align-items-stretch mb-5">
        <div class="col-md-6">
          <div class="form-group">
            <!-- Name input-->
            <input
              class="form-control"
              id="name"
              type="text"
              placeholder="Tu Nombre *"
              required
            />
          </div>
          <div class="form-group">
            <!-- Email address input-->
            <input
              class="form-control"
              id="email"
              type="email"
              placeholder="Tu Email *"
              required
            />
          </div>
          <div class="form-group mb-md-0">
            <!-- Phone number input-->
            <input
              class="form-control"
              id="phone"
              type="tel"
              placeholder="Tu Teléfono"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-textarea mb-md-0">
            <!-- Message input-->
            <textarea
              class="form-control"
              id="message"
              placeholder="Tu Mensaje *"
              required
            ></textarea>
          </div>
        </div>
      </div>
      <!-- Submit Button-->
      <div class="text-center"><button
          class="btn btn-primary btn-xl text-uppercase"
          id="submitButton"
          type="submit"
        >Enviar Mensaje</button></div>
    </form>
  </div>
</section>

<!-- Footer-->
<footer class="footer py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 text-lg-start">Copyright &copy; Agenda Psi 2021</div>
      <div class="col-lg-4 my-3 my-lg-0">
        <a class="btn btn-dark btn-social mx-2" href="#!"><i
            class="fab fa-twitter"
          ></i></a>
        <a class="btn btn-dark btn-social mx-2" href="#!"><i
            class="fab fa-facebook-f"
          ></i></a>
        <a class="btn btn-dark btn-social mx-2" href="#!"><i
            class="fab fa-linkedin-in"
          ></i></a>
      </div>
      <div class="col-lg-4 text-lg-end">
        <a class="link-dark text-decoration-none me-3" href="#!">Politica de
          Privacidad</a>
        <a class="link-dark text-decoration-none" href="#!">Terminos de Uso</a>
      </div>
    </div>
  </div>
</footer>