<div class="container pt-3">
  <h2>Archivo de clientes de {{this.name}}</h2>

  <div class="row">
    {{#if clients}}
      {{#each clients}}

        {{#> clientCard this}}
        {{/clientCard}}
    
        <!-- Modal Modify -->
        {{#> modify this}}
        {{/modify}}

        <!-- Modal Delete  -->
        {{#> delete this}}
        {{/delete}}
      {{/each}}
    {{else}}
      <p>No hay clientes registrados</p>
    {{/if}}

  </div>

</div>