<div class="container pt-5">
  
  <div class="row psico-nav">
    <div class="col-md-8">
      <div class="row" > 
        <div class="col-md-5">
          <h2>Archivo de {{this.name}}</h2>

        </div>
        <div class="col-md-2">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#modifyPsyModal"
            >
        <i class="fas fa-edit"></i>
          </button>
          <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#deletePsyModal"
        >
        <i class="fas fa-times"></i>
          </button>  

        </div>
      </div>
    </div>

    <div class="col-md-4">

      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#createClientModal"
      >
        <i class="fas fa-user-plus"></i>
        Crear Cliente
      </button>
      <a href="/psychologist" class="d-inline-block">
        <button type="button" class="btn btn-primary">Volver
        </button>
      </a>

      <form action="/auth/logout" method="POST" class="d-inline-block">
        <button id="submit" type="submit" class="btn btn-secondary">Cerrar Sesión</button>
      </form>

    </div>

  </div>

  <!-- Modal Create -->
  {{#> create }} 
  {{/create}}

  <!-- Modal Modify Psy -->
  {{#> modifyPsy}}
  {{/modifyPsy}}

  <!-- Modal Delete Psy -->
  {{#> deletePsy}}
  {{/deletePsy}}

  <!--CLient Cards -->
  <div class="row">
    {{#if this.clients}}
      {{#each this.clients}}

        {{#> clientCard this}}
        {{/clientCard}}
    
        <!-- Modal Modify -->
        {{#> modify this}}
        {{/modify}}

        <!-- Modal Delete  -->
        {{#> delete this}}
        {{/delete}}
      {{/each}}
    {{else}}
      <p>No hay clientes registrados</p>
    {{/if}}

  </div>

</div>