<div class="container pt-5">

<div class="row psico-nav">

  <h2 class="col-md-7">{{this.name}}</h2>

  <div class="col-md-5">
    
    <a href="/psychologist/archive" class="d-inline-block">
      <button type="button" class="btn btn-primary">Archivo
      </button>
    </a>

    <form action="/auth/logout" method="POST" class="d-inline-block">
      <button id="submit" type="submit" class="btn btn-secondary">Cerrar Sesión</button>
    </form>
  </div>

</div>

  <ul class="list-group col-md-3 col-8 mt-3 mt-md-0">
    {{#if activeClients}}
      {{#each activeClients}}
        <li class="list-group-item">
          {{#> clientRow this}}
          {{/clientRow}}
        </li>

        <!-- Modal Modify -->
        {{#> modify this}}
        {{/modify}}

        <!-- Modal Deactivate  -->
        {{#> deactivate this}}
        {{/deactivate}}
      {{/each}}
    {{else}}
      <p>No hay clientes registrados</p>
    {{/if}}
  </ul>

</div>