<div class="container pt-3">

  <div class="row">

    <h2 class="col-8">{{this.name}}</h2>

    <div class="col-4">
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#createClientModal" >
        <i class="fas fa-user-plus"></i>
        Crear CLiente
      </button>
      <a href="/psychologist/archive" class="d-inline-block">
        <button type="button" class="btn btn-primary">Lista completa
        </button>
      </a>

      <form action="/auth/logout" method="POST" class="d-inline-block">
        <button id="submit" type="submit" class="btn btn-primary">Log out</button>
      </form>
    </div>

  </div>
  <!-- Modal Create -->
  {{#> create }} 
  {{/create}}

  <ul class="list-group col-3">
    {{#if activeClients}}
      {{#each activeClients}}
        <li class="list-group-item">
          {{#> clientRow this}}
          {{/clientRow}}
        </li>

        <!-- Modal Modify -->
        {{#> modify this}}
        {{/modify}}

        <!-- Modal Delete  -->
        {{#> delete this}}
        {{/delete}}
      {{/each}}
    {{else}}
      <p>No hay clientes registrados</p>
    {{/if}}
  </ul>

</div>